* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Roboto;
  background-image: url(../images/background.jpg);
  background-size: cover;
  min-height: 100vh;
  min-width: 100vv;
  display: grid;
  grid-template-rows: auto 1fr auto; }
  @media (min-width: 768px) {
    body {
      font-family: Dancing Script; } }

h1 {
  padding: 2% 0;
  color: #bc1e48;
  font-size: normal;
  text-shadow: #bd836a 2px 1px;
  text-align: center; }

p {
  color: #bc1e48;
  margin-bottom: 3%; }

a {
  font-size: 2em;
  text-decoration: none;
  color: black; }
  a:hover, .btn {
    color: #bc1e48 !important;
    background: rgba(222, 176, 135, 0.317);
    border-radius: 5px; }

footer {
  font-size: 0.5em;
  text-align: start; }
  footer .barra {
    background-color: rgba(222, 176, 135, 0.317); }

.redes {
  display: inline-block;
  justify-content: space-around; }

h2 {
  color: #bc1e48;
  text-align: center;
  margin: 2% 0; }

.formulario {
  padding: 5%;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(222, 176, 135, 0.317); }

.input {
  margin: 10px;
  border-radius: 2px;
  box-shadow: -1px 1px 7px 0px #bd836a; }
