@import'variables';
@import 'mixins';

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@function fuente ($tipo_de_fuente) {
    @return map-get($fonts, $tipo_de_fuente);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: fuente(narrow_screen_font);

    background: {
        image: url(../images/background.jpg);
        size: cover;
    }

    min-height: 100vh;
    min-width: 100vv;
    display: grid;
    grid-template-rows: auto 1fr auto;

    @include tablet {
        font-family: fuente(wide_screen_font);

    }
}

h1 {
    padding: 2% 0;
    color: color(texto_principal);
    font-size: normal;

    text: {
        shadow: color(shadow) 2px 1px;
        align: center;
    }
}

p {
    color: color(texto_principal);
    margin-bottom: 3%;

}

a {
    font-size: 2em;
    text-decoration: none;
    color: color(texto_secundario);

    &:hover {
        color: color(texto_principal) !important;
        background: color(background);
        border-radius: 5px;
    }
}

footer {
    font-size: $text_size_footer;
    text-align: start;

    .barra {
        background-color: color(background);
    }
}

.redes {
    display: inline-block;
    justify-content: space-around;

}

h2 {
    color: color(texto_principal);
    text-align: center;
    margin: 2% 0
}

.formulario {
    padding: 5%;
    margin: auto;
    border-radius: 5px;
    background-color: color(background);


}

.input{
    margin: 10px;
    border-radius: 2px;
    box-shadow: -1px 1px 7px 0px color(shadow);
    
}

.btn {
    @extend a:hover;


}